<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                    <h4 class="card-title">Striped Progress bar {{progreso1}} </h4>
                    <div class="progress m-t-20">
                        <div    class="active progress-bar bg-info progress-bar-striped" 
                        style="height:10px;"
                        [style.width]="getProgreso1"
                        role="progressbar">
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                    <h4 class="card-title">Striped Progress bar </h4>
                    <div class="progress m-t-20">
                        <div    class="active progress-bar bg-info progress-bar-striped" 
                        style="height:10px;"
                        [style.width]="getProgreso2"
                        role="progressbar">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-incrementador [valorInicial]="progreso1" (valorProgreso)="progreso1=$event"></app-incrementador>

            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-incrementador [btnClass]="'btn btn-danger'" [valorInicial]="progreso2" (valorProgreso)="progreso2=$event"></app-incrementador>

            </div>
        </div>
    </div>
</div>

