<div class="row">
    <div class="col-6">
        <app-dona [titulo]="'Grafica 1'" [chartData]=" [[200,10]] " [chartLabels]=" ['Success','Failed'] "></app-dona>
    </div>
    <div class="col-6">
        <app-dona [titulo]="'Grafica 2'" [chartData]=" [[5000,100]] " [chartLabels]=" ['Success','Failed'] "></app-dona>
    </div>
    <div class="col-6">
        <app-dona [titulo]="'Grafica 3'" [chartData]=" [[20,30]] " [chartLabels]=" ['Success','Failed'] "></app-dona>
    </div>
    <div class="col-6">
        <app-dona [titulo]="'Grafica 4'" [chartData]=" [[200,200]] " [chartLabels]=" ['Success','Failed'] "></app-dona>
    </div>
</div>